<div>
  <ng-container *ngIf="lastMessage">
    <div class="col-12 text-center">
      <div>
        <div class="mt-4">
          <div class="icon-circle bg-danger border-gray-100"></div>
        </div>
        <div class="mt-4">
          <h4 class="font-3xl text-dark">{{lastMessage.Title}}</h4>
          <p class="font-lg text-dark">{{lastMessage.Description}}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <!--title-->
  <div *ngIf="!this.isLoading && privilege" class="col-12">
    <div class="row pt-2 pb-2">
      <div class="col-auto pl-0">
        <h2>{{'Admin.Permissions.EditPermissions' | translate}} - {{ privilege.description }} ({{ privilegeName }})</h2>
      </div>
    </div>
  </div>
  <div *ngIf="!this.isLoading && privilege" class="row">
    <div class="col-12 mb-3 mt-3">
      <universis-default-privileges-list [entityType]="privilege.appliesTo"></universis-default-privileges-list>
    </div>
  </div>
  <div *ngIf="!this.isLoading" class="row mt-3">
    <div class="col-auto pt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1"><span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Admin.Permissions.Accounts'"></span><span class="font-xl text-secondary"></span></div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1"><span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Admin.Permissions.AccountSingular'"></span></div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar mt-3">
        <a *ngIf="tableEditor.dirty" class="text-indigo text-decoration-none mr-3" href="javascript:void(0)"> <span></span><span>&nbsp;</span><span [translate]="'Admin.Permissions.UndoChanges'" (click)="undo()"></span> </a>
        <a *ngIf="tableEditor.dirty" class="text-success text-decoration-none mr-3" href="javascript:void(0)"> <span></span><span>&nbsp;</span><span [translate]="'Admin.Permissions.ApplyChanges'" (click)="apply()"></span> </a>
        <a *ngIf="this.accounts && this.accounts.selected && this.accounts.selected.length" class="text-danger text-decoration-none mr-3" href="javascript:void(0)" (click)="remove()">
          <span>-</span><span>&nbsp;</span><span *ngIf="this.accounts.selected.length === 1; else removeUsers" [translate]="'Admin.Permissions.RemoveAccount'"></span>
        </a>
        <ng-template #removeUsers>
          <span [translate]="'Admin.Permissions.RemoveAccounts'"></span>
        </ng-template>
        <a class="text-indigo text-decoration-none" href="javascript:void(0)"> <span>+</span><span>&nbsp;</span><span [translate]="'Admin.Permissions.AddAccount'" (click)="add()"></span> </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4 mt-2">
      <app-advanced-table [tableEditor] [selectable]="true" [scrollable]="true" [showFooter]="false" [serverSide]="false" #accounts [height]="600" (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
</div>
