<div>
  <div class="modal-header" *ngIf="modalTitle">
    <h4 class="modal-title">{{modalTitle | translate}}</h4>
    <button (click)="cancel()" type="button" class="close" data-dismiss="modal"
      aria-label="Cancel">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-0 mt-2 pb-0">
    <div class="row" *ngIf="lastError" #lastErrorRef>
      <div class="col-12">
        <div class="alert alert-warning" role="alert">
          <span>{{ 'Admin.PrivilegeError' | translate }}</span><br>
          <small *ngIf="lastError.status >= 0" [translate]="'E' + lastError.status + '.message'"></small>
          <small *ngIf="lastError.status == null">{{lastError.message}}</small>
        </div>
      </div>
    </div>
    <ng-container *ngIf="privileges && privileges.length > 0 && !this.isProcessing">
      <div class="row">
        <div class="col-12">
          <ul class="sis--list-group sis--list-group-body">
            <li *ngFor="let privilege of privileges"
                class="sis--list-group-item">
              <div class="row">
                <div class="col">
                  <h5 class="pt-2 pb-2">{{privilege.name}}</h5>
                </div>
              </div>
              <ul class="sis--list-group sis--list-group-header">
                <li class="sis--list-group-item">
                  <div class="d-flex align-items-center list-color">
                    <div class="sis--list-group-item_lg_column d-none d-xl-block"><span
                      class="text-secondary" [translate]="'Admin.PrivilegeDescription'"></span></div>
                    <div class="sis--list-group-item_sm_column d-none d-xl-block"><span
                      class="text-secondary" [translate]="'Admin.PrivilegeAlternateName'"></span></div>
                    <ng-container *ngFor="let action of privilege.configurableActions">
                      <div class="sis--list-group-item_sm_column d-none d-xl-block text-center"><span
                        class="text-secondary">{{ ('Admin.Permissions.Types.' + action) | translate}}</span></div>
                    </ng-container>
                  </div>
                </li>
              </ul>
              <ul class="sis--list-group sis--list-group-body">
                <li class="sis--list-group-item">
                  <div class="d-flex align-items-center list-color">
                    <div class="sis--list-group-item_lg_column d-none d-xl-block"><span
                      class="text-dark">{{ privilege.description || privilege.alternateName }}</span></div>
                    <div class="sis--list-group-item_sm_column d-none d-xl-block"><span
                      class="text-dark">{{ privilege.alternateName }}</span></div>
                    <ng-container *ngFor="let action of privilege.configurableActions">
                      <div class="sis--list-group-item_sm_column d-none d-xl-block text-center">
                        <input
                        style="transform: scale(1.3);"
                        [(ngModel)]="privilege[action]"
                        type="checkbox">
                      </div>
                    </ng-container>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="modal-footer justify-content-end">
    <button [disabled]="false" (click)="ok()" type="button"
      [ngClass]="okButtonClass">
      {{'Admin.Ok' | translate}}
    </button>
    <button (click)="cancel()" type="button" [ngClass]="cancelButtonClass"
      data-dismiss="modal">
      {{'Admin.Cancel' | translate}}
    </button>
  </div>
</div>
