<div class="col-12">
  <h2 class="text-secondary" [translate]="'Sidebar.Permissions'"></h2>
</div>

<div class="search_navbar d-none d-md-block mt-4">
  <form class="form-inline p-3 col">
    <div class="form-group col-lg-4 col-md-4 flex-nowrap pt-md-0 pt-sm-2">
      <label class="pr-2" for="searchText" [translate]="'Admin.PrivilegeCategory'"></label>
      <select (change)="onSelectTag($event)" class="form-control flex-fill text-truncate">
        <option default hidden [translate]="'Admin.SelectCategory'"></option>
        <option [value]="0">-</option>
        <ng-container *ngFor="let tag of searchTags">
          <option [value]="tag.id"> {{ tag.name }} </option>
        </ng-container>
      </select>
    </div>
    <div class="form-group col-lg-8 col-md-8 flex-nowrap pt-md-0 pt-sm-2">
      <label class="pr-2" for="searchText" [translate]="'Admin.Filter'"></label>
      <input (keyup)="onKey($event)" spellcheck="false" type="text" id="searchText" name="searchText" class="form-control flex-fill col" placeholder="{{'Admin.FilterBy' | translate}}">
    </div>
  </form>
</div>

<div class="row mt-4" *ngIf="privileges && privileges.length > 0">
  <div class="col-12 mb-4">
    <div class="mb-4" *ngFor="let privilegesByTags of privileges">
      <div>
        <h4 *ngIf="privilegesByTags.length > 0" class="col text-secondary">{{ privilegesByTags[0].tagDescription }} </h4>
        <ul class="sis--list-group sis--list-group-body">
          <li *ngFor="let privilege of privilegesByTags"
              class="sis--list-group-item">
            <div class="row">
              <div class="col">
                <h5 class="pt-2 pb-2">{{privilege.name}}</h5>
              </div>
              <div class="col text-right">
                <button type="button" class="btn btn-indigo" [translate]="'Admin.Permissions.Manage'" [routerLink]="['.', privilege.id, 'manage']"></button>
              </div>
            </div>
            <ul class="sis--list-group sis--list-group-header">
              <li class="sis--list-group-item">
                <div class="d-flex align-items-center list-color">
                  <div class="sis--list-group-item_sm_column d-none d-xl-block"><span
                    class="text-secondary" [translate]="'Admin.AppliesTo'"> </span></div>
                  <div class="sis--list-group-item_lg_column"><span
                    class="text-secondary" [translate]="'Admin.PrivilegeDescription'"></span></div>
                  <div class="sis--list-group-item_sm_column d-none d-xl-block"><span
                    class="text-secondary" [translate]="'Admin.PrivilegeAlternateName'"></span></div>
                  <div class="sis--list-group-item_md_column d-none d-xl-block"><span
                    class="text-secondary" [translate]="'Admin.PrivilegeTypes'"></span></div>
                </div>
              </li>
            </ul>
            <ul class="sis--list-group sis--list-group-body">
              <li class="sis--list-group-item">
                <div class="d-flex align-items-center list-color">
                  <div class="sis--list-group-item_sm_column d-none d-xl-block"><span
                    class="text-dark">{{ privilege.appliesTo }}</span></div>
                  <div class="sis--list-group-item_lg_column"><span
                    class="text-dark">{{ privilege.description }}</span></div>
                  <div class="sis--list-group-item_sm_column d-none d-xl-block"><span
                    class="text-dark">{{ privilege.alternateName }}</span></div>
                  <div class="sis--list-group-item_md_column d-none d-xl-block"><span
                    class="text-dark">{{ privilege.readableMask }}</span></div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="privileges && privileges.length === 0">
  <div class="col-12 text-center">
    <div>
      <div class="mt-4">
        <div class="icon-circle bg-info border-gray-100"></div>
      </div>
      <div class="mt-4">
        <h4 class="font-3xl text-dark" [translate]="'Sidebar.Permissions'"></h4>
        <p class="font-lg text-dark" [translate]="'Admin.NoPrivileges'"></p>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="lastMessage">
  <div class="col-12 text-center">
    <div>
      <div class="mt-4">
        <div class="icon-circle bg-danger border-gray-100"></div>
      </div>
      <div class="mt-4">
        <h4 class="font-3xl text-dark">{{lastMessage.Title}}</h4>
        <p class="font-lg text-dark">{{lastMessage.Description}}</p>
      </div>
    </div>
  </div>
</ng-container>
